# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\INGENIEUR\Ingé 5\2- Devs Webs\Projet_devs_Web\SMS_ISJ_GROUPE3\Frontend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
